body {
  padding-bottom: 40px;
  background-color: #FAFAFA;
  font-family: 'Roboto', sans-serif !important;
}

.auth-container {
  margin-top: 40px;
}

nav.navbar {
  background-color: #c62828;
}

.no-activities {
  padding: 15px;
}

.add-activity .row > div {
  padding-right: 0;
}

.activities {
  margin-top: 15px;
}

.activities-by-day {
  margin-bottom: 15px;
}

.hours-logged {
  width: 64px;
  display: inline-block;
  text-align: right;
}