body {
  padding-bottom: 40px;
  background-color: #FAFAFA;
  font-family: 'Roboto', sans-serif !important;
}

.auth-container {
  margin-top: 40px;
}

nav.navbar {
  background-color: #c62828;
}

.no-activities {
  padding: 15px;
}

.add-activity .row > div {
  padding-right: 0;
}

.container {
  margin-top: 15px;
}

.card {
  margin-bottom: 15px;
}

.hours-logged {
  width: 64px;
  display: inline-block;
  text-align: right;
}

.boys-th, .girls-th {
  color: #FAFAFA;
}

.boys-th {
  background-color: #37474F;
}

.girls-th {
  background-color: #4A148C;
}

.leaderboard-col:first-child {
  padding-right: 5px;
}

.leaderboard-col:last-child {
  padding-left: 5px;
}